<div class="container mx-auto my-8 text-center p-4">
  <h1 class="text-3xl font-bold mb-6 ">いいねした投稿</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% if @item_like_posts.present? %>
      <%= render @item_like_posts %>
    <% else %>
      <p class="text-gray-500 text-center">いいねしたアプリはありません</p>
    <% end %>
  </div>
</div>