<% if notice %>
  <p class="notice bg-green-100 text-base md:text-xl h-16 flex items-center justify-center p-8 "><%= notice %></p>
<% elsif alert %>
  <p class="alert bg-red-100 text-base md:text-xl h-16 flex items-center justify-center p-8 "><%= alert %></p>
<% end %>