<footer class="bg-sky-100 w-screen p-4 text-sm text-center">

  <nav class="space-x-8">
    <%= link_to "利用規約", terms_path, class: "hover:text-blue-900 link-hover" %>           
    <%= link_to "プライバシーポリシー", privacy_policy_path , class: "hover:text-blue-900 link-hover" %>
    <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSf7xYOWDdqPE0yvPfbwO2zSPYPWLvKetGIMRvSMXCfSThBYoQ/viewform?usp=sf_link", class: "hover:text-blue-900 link-hover" %>
  </nav>

  <!-- <aside>では本文ではない補足情報を囲むタグ -->
  <aside>
    <p>© <%= Time.current.year %> Good Sleep Joy</p>
  </aside>
</footer>