<header class="bg-sky-100 p-4">
  <div class="navbar justify-between items-center">
    <div class ='btn btn-ghost text-lg'>
      <%= link_to 'Good-Sleep-Joy', root_path, class: 'text-2xl' %>
    </div>
    <div class="flex space-x-4">
      <ul class="flex space-x-4">
        <li>
          <%= link_to 'ログアウト', '#', class: 'btn btn-ghost text-lg' %>
        </li>
        <li>
          <%= link_to 'マイページ', '#', class: 'btn btn-ghost text-lg' %>
        </li>
      </ul>
    </div>  
  </div>
</header>
