<% content_for(:title, '習慣投稿一覧') %>
<div class="container mx-auto my-8 text-center p-4">
  <h1 class="text-3xl font-bold mb-6 ">習慣投稿一覧</h1>
  <div class = "flex justify-center my-12">
    <%= render 'search_form', q: @q, url: habit_posts_path %>
  </div>
  <div class="my-6">
    <%= link_to '投稿する', new_habit_post_path, class: "bg-sky-100 rounded-lg px-6 py-2 hover:bg-sky-300 shadow-xl" %>
  </div>

  <% if @habit_posts.present? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <%= render @habit_posts %>
    </div>

    <!-- kaminariを導入して使えるようになったメソッド（ページ切り替えリンクを作成する） -->
    <%= paginate @habit_posts %>
  <% else %>
    <p class="text-gray-500 text-center">投稿がまだありません。</p>
  <% end %>
</div>