<p><%= @current_user.name %>様</p>

<p>パスワード再設定の依頼を受け付けました。</p>
<p>下記のリンクからパスワードの再発行を行ってください。</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
